<%# 後台模板模組CSS設計 %>
<div id="backend_index">  

    <div class="backend_nav backend_border">
        <h1>新後台數據庫</h1>
        <ul class="backend_nav_ul">
          <li><%= link_to "BackendRoot", backend_index_path %></li>
          <li><%= link_to "Posts", backend_posts_path %></li>        
        </ul>
        
    </div> 
    
</div> 