<!-- get & json 後端資料 --> 
<%= render partial: "live/common/data" %>

<!-- krpano xml view for HTML -->
<div id="pano" class="vr-live">   
	<!-- scene image box -->
	<div style="position: absolute; z-index: 99999; bottom: 0px;">
		<% number = 1 %>
		<% 3.times do %>
			<img onclick="clickVrImage('sc12345','scene<%= number %>')" class="click_img_a" data-ddd="vr123" style="height: 80px; width: 80px;" src="/image/<%= number %>.jpg">
		<% number+=1 %>
		<% end %>
		<!-- <img class="click_img_c" style="height: 80px; width: 80px;" src="image/g1.jpg"> -->
	</div> 
</div>