<div id="index">
    <div class="nav">
      <h1 class="title">Rails 7.0</h1>
    </div>
    <%# Banner %> 
    <div class="banner_contact alignC">Black Test</div>
    <div class="alignC">
      <button onclick="function_test('Hello World');">Click me Check</button> 
    </div>
</div>  